#sauda > span{
    color: rgb(99, 99, 186);
    background-color: #7fffd4;
    border-radius: 10px;
}

#sauda{
    color: white;
}

input{
    width: 30px;
    height: 30px;
}

#to-do-list{
    float: right;
    background-color: aquamarine;
    margin-right: 20px;
    width: 650px;
    height: 400px;
}

#to-do-list > h1{
    text-align: center;
    color: white;
}

#lista-tarefa{
    margin: 40px;
}

#add-item-input{
margin-right: 10px;
height: 40px;
}